anyio
argon2-cffi
async-generator
atomicwrites
attrs
backcall
bleach
certifi
cffi
charset-normalizer
colorama
colour
contextvars
cryptography
cycler
dataclasses
decorator
defusedxml
dtreeviz
entrypoints
filelock
graphviz
idna
immutables
importlib-metadata
iniconfig
ipyfilechooser
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
mistune
mkl-fft
mkl-random
mkl-service
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
olefile
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit
py
pycparser
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pywinpty
PyX
pyzmq
qtconsole
QtPy
requests
requests-file
requests-unixsocket
scapy
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
testpath
threadpoolctl
tldextract
toml
tornado
tqdm
traitlets
typing-extensions
urllib3
voila
wcwidth
webencodings
websocket-client
widgetsnbextension
wincertstore
wordninja
zipp